.header ul {
    list-style-type: none;
    display: flex; 
    margin-top: 35px;  
}

.header ul li {
    margin-right: 20px;
    font-family: Lato, sans-serif;    
    font-weight: 800;
    font-size: 18px;
}