.info {
    display: flex;
    justify-content: space-around;
}


.info h1 {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
}

.info p {
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-left: 50px;
}

.info img {
    margin-top: -50px;
    width: 243px;    
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 16px 16px 0px #928CF8;
}

blockquote p {
    border-left: 3px solid black;
    padding-left: 20px;
}