@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.main .container{
    background: #F4F4F4;
    border-radius: 40px;
    margin-top: 100px;
    padding-bottom: 50px;
}
